<div class="container-fluid">
  <div id="payroll-report">
    <div class="container-fluid">
      <input type="hidden" id="time_zone">
      <div class="row no_display_print">
        <div class="col-md-6 dropdown">
          <h3 id="month-list" data-toggle="dropdown">
            <span ng-bind="report.currentDateString" ></span>
            <span class="fa fa-angle-down"></span>
          </h3>
          <ul class="dropdown-menu" aria-labelledby="month-list">
            <li ng-repeat="effectiveDate in report.effectiveDates">
              <a ng-if="report.currentDateString != effectiveDate['date_string']" ng-click="report.switchMonth(effectiveDate)">
                <button>{{ effectiveDate["date_string"] }}</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 dropdown" style="padding-right: 0px;margin-top: 10px;">
          <div class="btn-group pull-right">

            <label id="print-report-btn" class="btn btn-custom btn-black" style="border-radius: 0px; margin-left:30px;" data-toggle="dropdown"><%= I18n.t("print_report") %>&nbsp;&nbsp;<span class="fa fa-angle-down"></span></label>
            <ul class="dropdown-menu" aria-labelledby="print-report-btn">
              <li>
                <a ng-href="/payrolls.pdf?effective_date={{report.currentEffectiveDate['date_time'] | encodeString }}&payroll_report=true"
                  target="_blank">
                  <button><%= I18n.t("print_summary") %></button>
                </a>
              </li>
              <li>
                <a target="_blank" ng-href="/employees/slips.pdf{{report.slipsUrl}}">
                  <button><%= I18n.t("print_slip_all") %></button>
                </a>
              </li>
              <li ng-show="report.slip_carbon">
                <a ng-click="report.printSlips()" href="javascript:void(0)">
                  <button><%= I18n.t("print_slip_carbon") %></button>
                </a>
              </li>
              <li>
                <a ng-href="/payrolls/social_insurance_pdf?effective_date={{report.currentEffectiveDate['date_time'] | encodeString }}"
                  target="_blank">
                  <button><%= I18n.t("print_social_insurance") %></button>
                </a>
              </li>
              <li ng-show="report.export_ktb_payroll">
                <a ng-href="/payrolls?effective_date={{report.currentEffectiveDate['date_time'] | encodeString }}&ktb_salary_xls=true"
                  target="_blank">
                  <button><%= I18n.t("export_ktb_payroll") %></button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row report-content">
        <div class="btn-group pull-right no_display_print">
          <label class="btn btn-info btn-md employee-type" ng-click="report.employeeTypeFilter()" ng-model="report.employeeTypeMode.normal" style="border-radius: 50px;" uib-btn-checkbox><%= I18n.t("employee_full_time") %></label>
          <label class="btn btn-info btn-md employee-type" ng-click="report.employeeTypeFilter()" ng-model="report.employeeTypeMode.temporary" style="border-radius: 50px;" uib-btn-checkbox><%= I18n.t("employee_part_time") %></label>
          <label class="btn btn-info btn-md employee-type" ng-click="report.employeeTypeFilter()" ng-model="report.employeeTypeMode.probationary" style="border-radius: 50px;" uib-btn-checkbox><%= I18n.t("employee_probation") %></label>
          <label class="btn btn-info btn-md employee-type" ng-click="report.employeeTypeFilter()" ng-model="report.employeeTypeMode.daily" style="border-radius: 50px;" uib-btn-checkbox><%= I18n.t("employee_daily") %></label>
        </div>
        <report-content model=report style="display-block"/>
      </div>
    </div>
  </div>
</div>
