<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.number_field :student_id %>
  </div>

  <div class="field">
    <%= f.label :parent_id %>
    <%= f.number_field :parent_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :remark %>
    <%= f.text_area :remark %>
  </div>

  <div class="field">
    <%= f.label :payment_method_id %>
    <%= f.text_field :payment_method_id %>
  </div>

  <div class="field">
    <%= f.label :cheque_bank_name %>
    <%= f.text_field :cheque_bank_name %>
  </div>

  <div class="field">
    <%= f.label :cheque_number %>
    <%= f.text_field :cheque_number %>
  </div>

  <div class="field">
    <%= f.label :cheque_date %>
    <%= f.text_field :cheque_date %>
  </div>

  <div class="field">
    <%= f.label :transfer_bank_name %>
    <%= f.text_field :transfer_bank_name %>
  </div>

  <div class="field">
    <%= f.label :transfer_date %>
    <%= f.text_field :transfer_date %>
  </div>

  <div class="field">
    <%= f.label :invoice_status_id %>
    <%= f.number_field :invoice_status_id %>
  </div>

  <div class="field">
    <%= f.label :school_year %>
    <%= f.text_field :school_year %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.text_field :semester %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
