<%= form_for @student, :html => { :class => "form-horizontal student" } do |f| %>
<% if @student.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">ข้อมูลของนักเรียนไม่สามารถบันทึกได้ : </h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="content-student-parent">
  <div class="row add-st-pr">

    <div class="col-md-8">
      <div class="row add-st-pr">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :full_name, 'ชื่อ-นามสกุล', :class => 'control-label'%>
            <div class="col-md-12">
              <%= f.text_field :full_name, :class => 'form-control', required: true , autocomplete: "off" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nickname, 'ชื่อเล่น', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname, :class => 'form-control' , autocomplete: "off" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row add-st-pr">
        <div class="col-md-6">
          <div class="form-group ">
            <%= f.label :full_name_english, 'Full Name', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :full_name_english, :class => 'form-control' , autocomplete: "off"%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nickname_english, 'Nick Name', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname_english, :class => 'form-control' , autocomplete: "off" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row add-st-pr">
        <div class="col-md-3">
          <div class="form-group ">
            <%= f.label :gender_id, 'เพศ', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.collection_select :gender_id, Gender.all, :id, :name, {prompt: "โปรดเลือกเพศ"}, {class: "form-control"}%>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :birthdate, 'วันเกิด', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.date_field :birthdate, :class => 'form-control',:data => {:provide => :datepicker} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag(@student.img_url.url(:medium), class: 'img-bg circle') if @student.img_url.exists? %>
      <div class="space20"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :img_url, 'รูปโปรไฟล์ ', class: 'control-label' %>
            <div class="col-md-12">
              <%= f.file_field :img_url, class: 'border-none pointer-cursor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row add-st-pr">
    <div class="col-md-3">
      <div class="form-group ">
        <%= f.label :grade_id, 'ระดับชั้น', :class => 'control-label' %>
        <div class="col-md-12">
          <%= f.collection_select :grade_id, Grade.all, :id, :name, {prompt: "โปรดเลือกระดับชั้น"}, {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :classroom, 'ห้อง', :class => 'control-label' %>
        <div class="col-md-12">
          <%= f.text_field :classroom, :class => 'form-control' , autocomplete: "off"%>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :classroom_number, 'เลขที่', :class => 'control-label ' %>
        <div class="col-md-12">
          <%= f.text_field :classroom_number, :class => 'form-control', autocomplete: "off"%>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :student_number, 'เลขประจำตัวนักเรียน', :class => 'control-label ' %>
        <div class="col-md-12">
          <%= f.text_field :student_number, :class => 'form-control' , autocomplete: "off"%>
        </div>
      </div>
    </div>
  </div>


  <div class="row add-st-pr">
    <div class="col-md-12">
      <div class="form-group ">
        <%= f.label :national_id, 'รหัสประจำตัวประชาชน', :class => 'control-label' %>
        <div class="col-md-12">
          <%= f.text_field :national_id, :class => 'form-control' , autocomplete: "off"%>
        </div>
      </div>
    </div>
  </div>

  <% if @student.new_record? || @student.parents.size == 0 %>
    <% 1.times do |index| %>
      <%= render :partial => 'add_parent', :locals => {:index => index, :ps => nil} %>
      <% @round = index %>
    <% end %>
  <% else %>
    <% @student.parents.each_with_index do |ps, index| %>
      <%= render :partial => 'add_parent', :locals => {:index => index, :ps => ps} %>
      <% @round = index %>
    <% end %>
  <% end %>

  <div id="add-parent"></div>
  <a id="parent-link" class="btn-add-st">+ เพิ่มชื่อผู้ปกครอง</a>

  <div class="row add-st-pr">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :remark, 'หมายเหตุ / remark' , :class => 'control-label' %>
        <div class="col-md-12">
          <%= f.text_area :remark, :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:center">
      <%= f.submit 'บันทึก', :class => 'btn btn-submit' %>

      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      students_path, :class => 'btn btn-cancel' %>

      <% if controller.controller_name == "students" && controller.action_name == "edit" %>
        <%= link_to "<i class='fa fa-trash'></i> ลบ".html_safe ,
                student_resign_path(@student) ,
                :id => 'student_remove' ,
                :method => :post ,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.student_confirm", :default => 'Are you sure?')) } ,
                :class => 'btn btn-remove-sp'%>
      <% end %>
  </div>
</div>
<% end %>

<script>
function remove_parent(i) {
    $('#add-prn-'+i+'').remove();
}
function gen_selectize(round) {
  for (i = 0; i <= round; i++) {
    $('#parent'+i).selectize({
      create: true,
      sortField: 'text'
    });
  }
}
  $(function() {
    var round = <%= @round %>;
    gen_selectize(round);
    $('#parent-link').click( function() {
      round = round + 1;
      $('#add-parent').append(
        '<div class="form-group" id="add-prn-'+round+'">\
          <label for="parent" class="control-label">ผู้ปกครอง</label>\
          <div class="row add-st-pr">\
            <div class="col-md-5" style="margin-left:15px;">\
              <select id="parent'+round+'" name="parent[]" placeholder="Select parent...">\
                <option value="" disabled selected></option>\
                <% @parents.each do |p| %>\
                  <option value="<%= p.id %>"><%= p.full_name %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-5">\
              <select id="relationship'+round+'" name="relationship[]" class="form-control">\
                <% @relations.each do |r| %>\
                  <option value="<%= r.id %>"><%= t(r.name) %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-1">\
              <button type="button" class="btn btn-delete-sp" onclick="remove_parent('+round+')"><i class="fa fa-times"></i></button>\
            </div>\
          </div>\
        </div>'
      );
      gen_selectize(round);
    });
  });
</script>
