<div class="content-student-parent">
  <div class="row add-st-pr">
    <table
      id="student-invoice"
      data-toggle="table"
      data-url="/invoices"
      data-query-params="invoiceQueryParams"
      data-response-handle="invoiceResponseHandler"
      data-pagination="true"
      data-page-size="10"
      data-smart-display="true"
      data-side-pagination="client"
      data-sort-name="created_at"
      data-sort-order="desc"
      >
      <thead>
        <tr>
          <th data-field="id" data-formatter="idFormatter" data-sortable="true"><%= t('invoice') %></th>
          <th data-field="school_year" data-sortable="true"><%= t('school_year') %></th>
          <th data-field="semester" data-sortable="true"><%= t('term') %></th>
          <th data-field="grade_classroom" data-sortable="true"><%= t('level') %></th>
          <th data-field="amount" ><%= t('amount') %></th>
          <th data-field="created_at" data-formatter="createdAtFormatter" data-sortable="true"><%= t('payment_date') %></th>
          <th data-field="payment_methods" ><%= t('paid_by') %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script>
function invoiceQueryParams(p) {
  return {
    is_active: "1",
    bootstrap_table: "1",
    student_id: "<%= @student.id %>"
  }
}

function invoiceResponseHandler(res) {
  return res["invoices"];
}

function createdAtFormatter(index, row, element){
  return moment(row.created_at).format('DD/MM/YYYY HH:mm');
}

function idFormatter(index, row, element){
  return '<a href="/invoices/' + row.id + '/slip.pdf" target="_blank">' + row.id + '</a>';
}
</script>
