<%- model_class = Student -%>
<%= javascript_include_tag 'print_student_list' %>
<%= render 'layouts/messages' %>
<div id="student-list-for-print" class="container only-print"></div>
<div id="student-index" class="container-fluid only-view">
  <div class="row head-sp">
    <div class="col-xs-6">
      <h1>นักเรียน</h1>
    </div>
    <div class="col-xs-6" style="text-align: right; margin-top: 15px;">
       <%= link_to ("<i class='fa fa-print'></i> พิมพ์บัญชีรายชื่อนักเรียน").html_safe, "#",
              :class => 'btn btn-to-print-student float-right',
              :onclick => 'printStudent()' %>

        <%= link_to t('.addstudent', :default => t("helpers.links.addstudent")),
                   new_student_path,
                   :class => 'btn btn-add-ps float-right' %>
    </div>
  </div>
  <div class="content-student-parent">
      <%= form_tag(students_path, method: :get, id: "search-form", class:"row search-form-st justify-content-between") do %>
        <div class="col-xs-6 form-group">
          <%= text_field_tag :search, params[:search], placeholder: "ค้นหา..." ,class: 'search-sp'%>
          <%= button_tag(type: 'submit', class: "btn btn-search-sp") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
        <div class="col-xs-6 form-group float-right-search" style="padding-top:15px;">
          <tr>
            <td><label for="grade_select">เลือกระดับชั้น</label></td>
            <td>
              <select name="grade_select" id="grade_select" class="btn-grades" onchange="this.form.submit()">
                  <option value='all'>All Grade</option>
                  <% Grade.all.each do |grade| %>
                    <option value="<%= grade.name %>"<%= @filter_grade.to_s == grade.name.to_s ? "selected" : "" %>> <%= grade.name %> </option>
                  <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="class_select">เลือกห้อง</label></td>
            <td>
              <select name="class_select" id="class_select" class="btn-grades" onchange="this.form.submit()">
                  <option value='all'>All Classroom</option>
                  <% @class_display.each do |classroom| %>
                    <option value="<%= classroom %>"<%= @filter_class == classroom ? "selected" : "" %>> <%= classroom %> </option>
                  <% end %>
              </select>
            </td>
          </tr>
        </div>
      <% end %>
    <table class="table table-sp-report">
      <thead>
        <tr>
          <th style="width: 250px;">ชื่อ - นามสกุล</th>
          <th >ชื่อเล่น</th>
          <th>ระดับชั้น</th>
          <th>ห้องเรียน</th>
          <th>เลขที่ในห้อง</th>
          <th>รหัสประจำตัวนักเรียน</th>
          <th>เพศ</th>
          <th>วันเกิด</th>
          <th>สถานะ</th>
          <th class="tools"></th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <% if student.deleted_at == nil %>
          <tr>
            <td><%= student.full_name_eng_thai_with_title%></td>
            <td><%= student.nickname_eng_thai %></td>
            <td><%= student.grade.nil? ? "" : student.grade.name %></td>
            <td><%= student.classroom %></td>
            <td><%= student.classroom_number %></td>
            <td><%= student.student_num %></td>
            <td><%= student.gender.nil? ? "" : t(student.gender.name) %></td>
            <td><%= student.birthdate.nil? ? '' : student.birthdate.strftime('%d/%m/%Y') %></td>
            <td><%= student.status.nil? ? 'กำลังศึกษา' : student.status %></td>
            <td class="tools">
              <div class="row">
                <div class="col-xs-2 icon text-center">
                  <%= link_to t('.edit', :default => '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe),
                              edit_student_path(student),
                              :title => 'แก้ไข' %>
                </div>
                <div class="col-xs-2 icon text-center">
                    <%= link_to "<i class='fa fa-graduation-cap'></i>".html_safe ,
                          student_graduate_path(student) ,
                          :id => 'student_graduated' ,
                          :method => :post ,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.student_graduated", :default => 'Are you sure?')) } ,
                          :class => 'btn-graduation tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'ให้นักเรียนจบการศึกษา'  %>
                </div>
                <div class="col-xs-2 icon text-center">
                  <%= link_to "<i class='fa fa-external-link'></i>".html_safe ,
                          student_resign_path(student) ,
                          :id => 'student_resign' ,
                          :method => :post ,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.student_resign", :default => 'Are you sure?')) } ,
                          :class => 'btn-resign tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'นักเรียนขอลาออก'  %>
                </div>
                <div class="col-xs-2 icon text-center">
                  <span ng-show="<%=student.invoices.first.nil?%>"><%= link_to "<i class='fa fa-trash'></i>".html_safe ,
                                student_real_destroy_path(student) ,
                                :id => 'student_destroy' ,
                                :method => :delete ,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.student_delete", :default => 'Are you sure?'))} ,
                                :class => 'btn-trash tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'ลบข้อมูลจากระบบแบบถาวร'  %>
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <% else %>
          <tr style="color: #dddbdb !important">
            <td><%= student.full_name_eng_thai_with_title%></td>
            <td><%= student.nickname_eng_thai %></td>
            <td><%= student.grade.nil? ? "" : student.grade.name %></td>
            <td><%= student.classroom %></td>
            <td><%= student.classroom_number %></td>
            <td><%= student.student_num %></td>
            <td><%= student.gender.nil? ? "" : t(student.gender.name) %></td>
            <td><%= student.birthdate.nil? ? '' : student.birthdate.strftime('%d/%m/%Y') %></td>
            <td><%= student.status.nil? ? '' : student.status %></td>
            <td class="tools">
              <div class="row">
                <div class="col-xs-offset-10 col-xs-2 icon text-center">
                  <%= link_to '<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe ,
                    student_restore_path(student) ,
                    :id => 'student_restore' ,
                    :title => "นำกลับสู่ระบบ",
                    :method=> :post %>
                </div>
              </div>
            </td>
          </tr>

        <% end %>
        <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @students %></div>
  </div>
</div>
