<div class="container main-menu">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-3">
            <div class="menu-btn">
                <div class="wraptocenter">
                    <a href="/somsri_payroll"><%= image_tag 'payroll-icon.png', class: "" %></a>
                </div>
            </div>
            <p>เงินเดือน</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn">
                <div class="wraptocenter">
                  <a href="/somsri_invoice"><%= image_tag 'fee-icon.png', class: "" %></a>
                </div>
            </div>
            <p>ค่าเทอม</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn" style="cursor: no-drop;">
                <div class="wraptocenter">
                    <%= image_tag 'roll-icon.png', class: "" %>
                </div>
            </div>
            <p>นับแถว</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2  col-xs-offset-3">
            <div class="menu-btn" style="cursor: no-drop;">
              <div class="wraptocenter">
                  <%= image_tag 'hr-icon.png', class: "" %>
              </div>
            </div>
            <p>บุคลากร</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn">
              <a href="/parents">
                <div class="wraptocenter">
                    <%= image_tag 'parent.png', class: "" %>
                </div>
              </a>
            </div>
            <p>ผู้ปกครอง</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn">
              <a href="/students">
                <div class="wraptocenter">
                    <%= image_tag 'child.png', class: "" %>
                </div>
              </a>
            </div>
            <p>นักเรียน</p>
        </div>
    </div>
</div>
