<div ui-view></div>
<%= render 'layouts/messages' %>
<div class="container main-menu main">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            <div class="menu-btn">
              <% if can? :manage, Payroll %>
                <a href="/somsri_payroll">
                  <div class="wraptocenter">
                    <%= image_tag 'payroll-icon.png', class: "" %>
                  </div>
                </a>
              <% else %>
                <div class="wraptocenter disabled">
                  <%= image_tag 'payroll-icon.png', class: "" %>
                </div>
              <% end %>
            </div>
            <p>เงินเดือน</p>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="menu-btn">
              <% if can? :manage, Invoice %>
                <a href="/somsri_invoice">
                  <div class="wraptocenter">
                    <%= image_tag 'fee-icon.png', class: "" %>
                  </div>
                </a>
              <% else %>
                <div class="wraptocenter disabled">
                  <%= image_tag 'fee-icon.png', class: "" %>
                </div>
              <% end %>
            </div>
            <p>ค่าเทอม</p>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="menu-btn">
                <!-- <a href="/somsri_rollcall"> -->
                  <div class="wraptocenter disabled">
                    <%= image_tag 'roll-icon.png', class: "" %>
                  </div>
                <!-- </a> -->
            </div>
            <p>นับแถว</p>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div class="col-xs-2  col-xs-offset-2">
            <div class="menu-btn">
              <% if can? :manage, Employee %>
                <a href="/somsri_payroll#/employees">
                  <div class="wraptocenter">
                    <%= image_tag 'hr-icon.png', class: "" %>
                  </div>
                </a>
              <% else %>
                <div class="wraptocenter disabled">
                  <%= image_tag 'hr-icon.png', class: "" %>
                </div>
              <% end %>
            </div>
            <p>บุคลากร</p>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="menu-btn">
              <% if can? :manage, Parent %>
                <a href="/parents">
                  <div class="wraptocenter">
                      <%= image_tag 'parent.png', class: "" %>
                  </div>
                </a>
              <% else %>
                <div class="wraptocenter disabled">
                    <%= image_tag 'parent.png', class: "" %>
                </div>
              <% end %>
            </div>
            <p>ผู้ปกครอง</p>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <div class="menu-btn">
              <% if can? :manage, Student %>
                <a href="/students">
                  <div class="wraptocenter">
                      <%= image_tag 'child.png', class: "" %>
                  </div>
                </a>
              <% else %>
                <div class="wraptocenter disabled">
                    <%= image_tag 'child.png', class: "" %>
                </div>
              <% end %>
            </div>
            <p>นักเรียน</p>
        </div>
    </div>
</div>
