(function() {
  'use strict';
  angular.module('somsri.invoice.groupingReport2', [
  ])
  .controller('groupingReport2Ctrl', ['$compile', '$scope', '$window', '$filter', '$rootScope', 'groupingReport2Service', '$timeout', 'CSV', '$uibModal', 'moment', function($compile, $scope, $window, $filter, $rootScope, service, $timeout, CSV, $uibModal, moment) {
    $rootScope.menu = "<%= I18n.t('classification_report') %>"
    var ctrl = this

    $rootScope.loadAndAuthorizeResource("invoice", function(){
      // default last 7 days
      ctrl.end_date = new Date();
      ctrl.start_date = new Date(new Date().setMonth(new Date().getMonth() - 1));
      ctrl.options = null
      ctrl.etc_checked = true
      ctrl.forcePerInvoice = false

      ctrl.loadData = function (){
        ctrl.start_date = cleanDate(ctrl.start_date)
        ctrl.end_date = cleanDate(ctrl.end_date)
        service.getGroupingReport(ctrl.start_date, ctrl.end_date, ctrl.options, ctrl.etc_checked, ctrl.forcePerInvoice).then(function(resp) {
          ctrl.datas = resp.data
          ctrl.options = resp.data.options
        });
      }

      ctrl.isDisplay = function(column_name){
        if(ctrl.datas && ctrl.datas.rows && ctrl.datas.rows[0]){
          if(ctrl.datas.rows[0][column_name]){
            return true
          }else{
            return false
          }
        }
      }

      ctrl.getReportMode = function (){
        if(ctrl.forcePerInvoice){
            return "per_invoice"
        }else{
          if(ctrl.end_date && ctrl.start_date && ctrl.end_date.toDateString() == ctrl.start_date.toDateString()){
            return "per_student"
          }else{
            return "per_day"
          }
        }
      }

      function cleanDate(date){
        if(!date || new Date(date) == "Invalid Date"){return;}
        var cleanedDate = new Date()
        cleanedDate.setDate(date.getDate())
        cleanedDate.setMonth(date.getMonth())
        cleanedDate.setYear(date.getFullYear())
        return cleanedDate
      }

      ctrl.selectDate = function(selected_date){
        selected_date = moment(selected_date, "DD/MM/YYYY").toDate()
        ctrl.start_date = cleanDate(selected_date)
        ctrl.end_date = ctrl.start_date
        ctrl.optionsChange()
      }

      ctrl.optionsChange = function() {
        // check date incorrect input
        if(ctrl.start_date === undefined || ctrl.end_date === undefined){return}
        ctrl.loadData()
      }

      ctrl.openStartDatePopup = function() {
        ctrl.startDatePopup.opened = true;
      };

      ctrl.startDatePopup = {
        opened: false
      };

      ctrl.openEndDatePopup = function() {
        ctrl.endDatePopup.opened = true;
      };

      ctrl.endDatePopup = {
        opened: false
      };

      ctrl.exportExcel = function(){
        $('#export-excel').html('<table id="export-table" data-tableexport-display="always"></table>')
        var tableColumn = []
        if(ctrl.getReportMode() == "per_student"){
          tableColumn = [
            { title: "Invoice"},
            { title: "<%= I18n.t('name') %>"},
            { title: "<%= I18n.t('level') %>"}
          ]
        }else if(ctrl.getReportMode() == "per_invoice"){
          tableColumn = [
            { title: "Invoice"},
            { title: "<%= I18n.t('date1') %>"},
            { title: "<%= I18n.t('name') %>"},
            { title: "<%= I18n.t('level') %>"}
          ]
        }else{
          tableColumn = [
            { title: "<%= I18n.t('date1') %>"}
          ]
        }

        ctrl.datas.header.forEach(function(header) {
          tableColumn.push({ title: header })
        });

        var table = $('#export-table')
        table.bootstrapTable({
          columns: tableColumn
        })

        var exportData = []
        ctrl.datas.rows.forEach(function(row) {
          if(row){
            if(ctrl.getReportMode() == "per_student"){
              var tmpArr = row.datas.slice(0)
              tmpArr.unshift(row.header_row_classroom)
              tmpArr.unshift(row.header_row_name)
              tmpArr.unshift(row.header_row_invoice_id)
              exportData.push(tmpArr)
            }else if(ctrl.getReportMode() == "per_invoice"){
              var tmpArr = row.datas.slice(0)
              tmpArr.unshift(row.header_row_classroom)
              tmpArr.unshift(row.header_row_name)
              tmpArr.unshift(row.header_row_date)
              tmpArr.unshift(row.header_row_invoice_id)
              exportData.push(tmpArr)
            }else{
              var tmpArr = row.datas.slice(0)
              tmpArr.unshift(row.header_row_date)
              exportData.push(tmpArr)
            }
          }
        })
        // footer
        if(ctrl.getReportMode() == "per_student"){
          var footer = ctrl.datas.total.slice(0)
          footer.unshift("<%= I18n.t('total') %>")
          footer.unshift("")
          footer.unshift("")
          exportData.push(footer)
        }else if(ctrl.getReportMode() == "per_invoice"){
          var footer = ctrl.datas.total.slice(0)
          footer.unshift("<%= I18n.t('total') %>")
          footer.unshift("")
          footer.unshift("")
          footer.unshift("")
          exportData.push(footer)
        }else{
          var footer = ctrl.datas.total.slice(0)
          footer.unshift("<%= I18n.t('total') %>")
          exportData.push(footer)
        }
        table.bootstrapTable('load', exportData)
        table.tableExport({ type: 'excel' })
      }

      ctrl.loadData()

    });
  }]);
})();
