<style>
  body{
    margin-bottom: 0px !important;
  }
</style>

<div class="container" id="warp" style="margin-top:100px;">
  <div class="row">
    <%= render 'layouts/messages' %>
    <div class="col-md-12">

      <div class="form-sign-in">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= image_tag School.first.logo, class: "img-responsive logo-login" %>
            </div>
          </div>
          <div class="row">
            <div class="field form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control input-login" , placeholder: t('user_name') %>
            </div>
          </div>
          <div class="row">
            <div class="field form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-login",placeholder: t('password'),style: "margin-top:10px;" %>
            </div>
          </div>
          <div class="row">
            <% if devise_mapping.rememberable? -%>
              <div class="field form-group text-remember">
                <%= f.check_box :remember_me, class: "form-inline" %>
                <label style="font-weight:normal" for="user_remember_me"><%= t('keep_me_signed_in') %></label>
              </div>
            <% end -%>
          </div>
          <div class="row">
            <div class="sign-in actions">
              <%= f.submit t('sign_in'), class: "btn btn-signin" %>
            </div>
          </div>
          <% if (SiteConfig.get_cache.enable_rollcall) && (Figaro.env.ROLLCALL_APK_URL)  %>
            <div class="row">
              <div class="download_android">
                <a href="<%= Figaro.env.ROLLCALL_APK_URL %>" target="_blank"><i class="fa fa-android"></i><%= t('download_somsri_rollcall') %></a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% if SiteConfig.get_cache.display_username_password_on_login %>
  <div class="container">
    <div class="col-md-offset-2 col-md-7 form-type">
      <div class="col-md-12">
        <p><button class="status_type_login">ฝ่ายบุคคล</button>&nbsp;&nbsp;&nbsp;<strong> User name:</strong> admin@bananacoding.com
        <strong>Password:</strong> password</p>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p><button class="status_type_login">ฝ่ายการเงิน</button>&nbsp;&nbsp;<strong> User name:</strong> finance@bananacoding.com
        <strong>Password:</strong> password</p>
      </div>
    </div>
  </div>
<% end %>
<footer id="footer">
  <div class="container">
    <p class="text-center">© Copyright somsri.io</p>
  </div>
</footer>
