<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="logo text-center">
          <a class="navbar-brand" href="/"><%= image_tag 'somsri_logo.png', class: "" %></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle text-navbar-left" data-toggle="dropdown" href="">นับแถว
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu nav-menu">
            <%= render 'layouts/navigation_left_menu' %>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right dropdown">
          <% if user_signed_in? %>
            <a class="nav-user avatar" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user_avatar(current_user.gravatar_url) %> <%= current_user.full_name.nil? ? current_user.email : current_user.full_name %>
              <i class="fa fa-chevron-down"></i>
            </a>
            <!-- <a class="help-invoice" href="javascript:void(0)"><i class="fa fa-question"></i></a> -->
            <div class="dropdown-menu on-nav-bar" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="somsri_payroll#/setting"><i class="fa fa-cog"></i> Setting</a>
                <br>
                <a class="dropdown-item" href="<%= destroy_user_session_path %>" rel="nofollow" data-method="DELETE"><i class="fa fa-sign-out"></i> Sign Out</a>
            </div>
          <% else %>
            <a class="nav-link" href="/"><i class="fa fa-sign-in"></i> Log In</a>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
