<div class="form-group" id="add-std-<%= index %>">
  <div class="row">
    <div class="col-xs-5" style="margin-left:15px;">
      <select id="student<%= index %>" name="student[]" index="<%= index %>" onchange="studentChange(this)" placeholder="Select student...">
        <option value="" disabled="disabled" selected="selected"></option>
        <% @students.each do |s| %>
          <option value="<%= s.id %>" <%= set_option_selected(s, ps) %>><%= s.full_name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-5">
      <select id="relationship<%= index %>" name="relationship[]" class="form-control" <%= "disabled='true'" if !ps %>>
        <% @relations.each do |r| %>
          <option value="<%= r.id %>" <%= set_option_selected(r, @parent.relationships[index]) %>><%= t(r.name) %></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btn btn-delete-sp" onclick="remove_student(<%= index %>)">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>
