<%= javascript_include_tag 'preview_image' %>

<%= form_for @parent, :html => { :class => "form-horizontal parent" } do |f| %>
<% if @parent.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @parent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="content-student-parent">
  <div class="card-block">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :full_name, 'ชื่อ-นามสกุล', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :full_name, :class => 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nickname, 'ชื่อเล่น', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :id_card_no, 'เลขบัตรประชาชน', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :id_card_no, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :mobile, 'โทรศัพท์', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :mobile, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email, 'อีเมล์', :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :line_id, 'Line ID', :class => 'control-label col-6' %>
            <div class="col-md-12">
              <%= f.text_field :line_id, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <% if @parent.img_url.blank? %>
        <label for="imageUpload" class="img-default">
            <i class="fa fa-user icons-default-img" aria-hidden="true"></i>
            <div class="img-bg bg-light-gray circle"></div>
        </label>
      <% else %>
        <label for="imageUpload" class="img-default">
          <%= image_tag(@parent.img_url.url(:medium), :class => 'circle', id:'img-change') if @parent.img_url.exists? %>
        </label>
      <% end %>
      <div class="space20"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.file_field :img_url, class: 'border-none pointer-cursor', id: 'imageUpload', style:'display:none;', onchange:'readURL(this);' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <% if @parent.new_record? || @parent.students.size == 0 %>
        <% 1.times do |index| %>
          <%= render :partial => 'add_student', :locals => {:index => index, :ps => nil} %>
          <% @round = index %>
        <% end %>
      <% else %>
        <% @parent.students.each_with_index do |ps, index| %>
          <%= render :partial => 'add_student', :locals => {:index => index, :ps => ps} %>
          <% @round = index %>
        <% end %>
      <% end %>

      <div id="add-student"></div>
      <a id="student-link" class="btn-add-st">+ เพิ่มชื่อนักเรียน</a>
    </div>
 </div>
 <div class="row">
   <div class="col-md-12">
     <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:center">
         <%= f.submit 'บันทึก', :class => 'btn btn-submit' %>

          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                   parents_path, :class => 'btn btn-cancel' %>

        <% if controller.action_name == "edit" %>
           <%= link_to "<i class='fa fa-trash'></i> ลบ".html_safe ,
                       parent_archive_path(@parent),
                       :id => "parent_archive" ,
                       :method => :post,
                       :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.parent_confirm", :default => 'Are you sure?')) },
                       :class => 'btn btn-remove-sp'  %>
        <% end %>
      </div>
   </div>
 </div>
</div>

<% end %>

<script>
function remove_student(i) {
    $('#add-std-'+i+'').remove();
}

function gen_selectize(round) {
  for (i = 0; i <= round; i++) {
    $('#student'+i).selectize({
      create: true,
      sortField: 'text'
    });
  }
}

  $(function() {
    var round = <%= @round %>;
    gen_selectize(round);

    $('#student-link').click( function() {
      round = round + 1;
      $('#add-student').append(
        '<div class="form-group" id="add-std-'+round+'">\
          <label for="student" class="control-label">นักเรียน</label>\
          <div class="row">\
            <div class="col-md-5" style="margin-left:15px;">\
              <select id="student'+round+'" name="student[]" placeholder="เลือกนักเรียน...">\
                <option value="" disabled selected></option>\
                <% @students.each do |s| %>\
                  <option value="<%= s.id %>"><%= s.full_name %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-5">\
              <select id="relationship'+round+'" name="relationship[]" class="form-control">\
                <% @relations.each do |r| %>\
                  <option value="<%= r.id %>"><%= t(r.name) %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-1">\
              <button type="button" class="btn btn-delete-sp" onclick="remove_student('+round+')"><i class="fa fa-times"></i></button>\
            </div>\
          </div>\
        </div>'
      );
      gen_selectize(round);
    });
  });
</script>
