<%- model_class = Parent -%>
<%= javascript_include_tag 'custom_bootstrap_table' %>
<%= render 'layouts/messages' %>
<div id="parent-index">
  <div class="row head-sp">
    <div class="col-xs-6 mb-20">
      <h1><%= t('parent') %></h1>
    </div>
    <div class="col-xs-6 mt-10 px-0" style="text-align: right;">
      <%= link_to ('<i class="fa fa-share-square-o" aria-hidden="true"></i> Export').html_safe, "#", :class => 'btn btn-custom btn-blue-sky float-right mr-5', :onclick => 'exportTable("parents")' %>
      <%= link_to t('.addparent', :default => t("helpers.links.addparent")), new_parent_path, :class => 'btn btn-custom btn-blue float-right'%>
    </div>
  </div>
  <div class="content-student-parent">
    <div class="row toolbar-student-parent">
      <div class="col-xs-6">
        <div class="search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="form-control" id="search" type="text" placeholder="ค้นหา" onchange="search()" onkeyup="this.onchange()">
        </div>
      </div>
      <div class="col-xs-6 select-filter">
        <span><%= t('select_classroom') %></span>
        <select name="grade_select" id="grade_select" class="btn-grades selectpicker" onchange="filter()">
          <option value='all'><%= t('all') %></option>
          <% Grade.all.each do |grade| %>
          <option value="<%= grade.name %>"<%= @filter_grade.to_s == grade.name.to_s ? "selected" : "" %>> <%= grade.name %> </option>
          <% end %>
        </select>

        <span><%= t('select_room') %></span>
        <select name="class_select" id="class_select"  onchange="filter()" class="btn-grades selectpicker">
          <option value='all'><%= t('all') %></option>
          <% @classroom_display.each do |classroom| %>
          <option value="<%= classroom %>"<%= @filter_class.to_s == classroom.to_s ? "selected" : "" %>> <%= classroom %> </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="overflow-table">
      <table id="table"
      data-toggle="table"
      data-pagination="true"
      data-pagination-loop="false"
      data-url="parents.json"
      data-side-pagination="server"
      data-sort-name="parents.full_name"
      data-sort-order="asc"
      data-query-params-type="page"
      data-query-params="queryParams"  >
        <thead>
          <tr>
            <th data-field="parents.img_url" data-formatter="imgTag"></th>
            <th data-field="parents.full_name" data-formatter="linkToParentEditFormatter" data-sortable="true" style="width: 300px;" ><%= t('full_name') %></th>
            <th data-field="parents.mobile" data-sortable="true"><%= t('phone') %></th>
            <th data-field="parents.email" data-sortable="true"><%= t('email') %></th>
            <th data-field="relationships.name" data-sortable="true"><%= t('relationship') %></th>
            <th data-field="students.full_name" data-sortable="true"><%= t('student_name') %></th>
            <th data-field="parent_options" data-formatter="selectionParentFormatter" ></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<table id="tableForExport"
  data-toggle="table"
  data-side-pagination="server"
  data-tableexport-display="always"
  style="display: none;">
  <thead>
    <tr>
      <th data-field="parents.full_name" style="width: 300px;" ><%= t('full_name') %></th>
      <th data-field="parents.mobile" ><%= t('phone') %></th>
      <th data-field="parents.email" ><%= t('email') %></th>
      <th data-field="relationships.name" ><%= t('relationship') %></th>
      <th data-field="students.full_name" ><%= t('student_name') %></th>
    </tr>
  </thead>
</table>

<!-- Modal -->
<div id="warningModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="modal-title" id="modal-title"></h4>
          </div>
        </div>
        <div class="space20"></div>
        <div class="space20"></div>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-3 pull-right">
            <button class="btn btn-custom btn-gray" data-dismiss="modal"><%= t('cancel') %></button>
          </div>
          <div class="col-md-3 pull-right">
            <%= form_tag("", id:"actionModalForm") do %>
              <a class="btn btn-custom btn-red submit" onclick="document.getElementById('actionModalForm').submit();"><%= t('ok') %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
