<%- model_class = Parent -%>
<%= render 'layouts/messages' %>
<div id="parent-index" class="container-fluid">
  <div class="row head-sp">
    <div class="col-xs-2">
      <h1>ผู้ปกครอง</h1>
    </div>
    <div class="col-xs-2 col-xs-offset-8" style="text-align: right; margin-top: 10px;">
      <%= link_to t('.addparent', :default => t("helpers.links.addparent")),
                new_parent_path,
                :class => 'btn btn-add-ps float-right'%>
    </div>
  </div>
  <div class="content-student-parent">
    <%= form_tag(parents_path, method: :get, id: "search-form") do %>
      <div class="form-group col-xs-4">
        <%= text_field_tag :search, params[:search], placeholder: "ค้นหา..." ,class: 'search-sp'%>
        <%= button_tag(type: 'submit', class: "btn btn-search-sp") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>

      <div class="col-xs-4 col-xs-offset-4 form-group float-right-search">
        <tr>
          <td><label for="grade_select">เลือกระดับชั้น</label></td>
          <td>
            <select name="grade_select" id="grade_select" class="btn-grades" onchange="this.form.submit()">
                <option value='all'>All Grade</option>
                <% Grade.all.each do |grade| %>
                  <option value="<%= grade.name %>"<%= @filter_grade.to_s == grade.name.to_s ? "selected" : "" %>> <%= grade.name %> </option>
                <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="class_select">เลือกตามห้อง</label></td>
          <td>
            <select name="class_select" id="class_select"  onchange="this.form.submit()" class="btn-grades">
                <option value='all'>ทั้งหมด</option>
                <% @classroom_display.each do |classroom| %>
                    <option value="<%= classroom %>"<%= @filter_class.to_s == classroom.to_s ? "selected" : "" %>> <%= classroom %> </option>
                <% end %>
            </select>
          </td>
        </tr>
      </div>

    <% end %>

    <table class="table table-sp-report">
      <thead>
        <tr>
          <th style="width: 300px;">ชื่อ-สกุล</th>
          <th>โทรศัพท์</th>
          <th>อีเมล์</th>
          <th>ความสัมพันธ์</th>
          <th>ชื่อ-สกุลนักเรียน</th>
          <th class="tools"></th>
        </tr>
      </thead>
      <tbody>
        <% @parents.each do |parent| %>
          <% if parent.deleted_at == nil %>
          <tr>
              <td><%= parent.full_name %></td>
              <td><%= parent.mobile %></td>
              <td><%= parent.email %></td>
              <td><%= parent.relationships.first.nil? ? "" : t(parent.relationships.first.name) %></td>
              <td><%= student_link_with_full_name(parent.students.first) %></td>
              <td class="tools">
                  <div class="row">
                    <div class="col-xs-3 icon text-center">
                      <%= link_to t('.show', :default => '<i class="fa fa-info" aria-hidden="true"></i>'.html_safe),
                                  parent_path(parent),
                                  :title => 'แสดงข้อมูลเพิ่มเติม' %>
                    </div>
                    <div class="col-xs-3 icon text-center">
                      <%= link_to t('.edit', :default => '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe),
                                  edit_parent_path(parent),
                                  :title => 'แก้ไข' %>
                    </div>
                    <div class="col-xs-3 icon text-center">
                      <%= link_to "<i class='fa fa-archive'></i>".html_safe ,
                                  parent_archive_path(parent),
                                  :id => "parent_archive" ,
                                  :method => :post,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.parent_archive", :default => 'Are you sure?')) },
                                  :class => 'btn-archive-sp tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'ลบข้อมูลออกจากระบบ (สามารถนำกลับมาได้)'  %>
                    </div>
                    <div class="col-xs-3 icon text-center">
                      <span ng-show="<%=parent.invoices.first.nil?%>"><%= link_to "<i class='fa fa-trash'></i>".html_safe ,
                                  parent_real_destroy_path(parent),
                                  :id => 'parent_delete' ,
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm.parent_delete", :default => 'Are you sure?')) },
                                  :class => 'red-color tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'ลบข้อมูลออกจากระบบ (ไม่สามารถนำกลับมาได้)'  %></span>
                    </div>
                  </div>
              </td>
          </tr>
          <% else %>
          <tr style="color: #dddbdb !important">
            <td><%= parent.full_name %></td>
            <td><%= parent.mobile %></td>
            <td><%= parent.email %></td>
            <td><%= parent.relationships.first.nil? ? "" : t(parent.relationships.first.name) %></td>
            <td><%= student_link_with_full_name(parent.students.first) %></td>
            <!-- <td id="text-status"><%= parent.invoices.first.nil? ? "<span id='no-pay'>ยังไม่ได้ชำระเงิน</span>".html_safe : "<span id='this-pay'>ชำระเงินแล้ว</span>".html_safe %></td> -->
            <td class="tools">
              <div class="row">
                <div class="col-xs-9 icon text-center">
                  <%= parent.deleted_at.nil? ? "" : "ถูกนำออก" %>
                </div>
                <div class="col-xs-3 icon text-center">
                  <%= link_to '<i class="fa fa-undo" aria-hidden="true"></i>'.html_safe,
                          parent_restore_path(parent),
                          :id => 'parent_restore',
                          :title => "นำกลับสู่ระบบ",
                          :method=> :post %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @parents %></div>
  </div>
</div>
