<%- model_class = Parent -%>
<%= javascript_include_tag 'custom_bootstrap_table' %>
<%= render 'layouts/messages' %>
<div id="parent-index">
  <div class="row head-sp">
    <div class="col-xs-6">
      <h1>ผู้ปกครอง</h1>
    </div>

    <div class="col-xs-6" style="text-align: right; margin-top: 10px;">

      <%= link_to ("<i class='fa fa-upload' aria-hidden='true'></i> Export").html_safe, "#", :class => 'btn btn-exportBs float-right', :onclick => 'exportTable("parents")' %> 

      <%= link_to t('.addparent', :default => t("helpers.links.addparent")), new_parent_path, :class => 'btn btn-add-ps float-right'%>

    </div>
  </div>

  <div class="content-student-parent">
    <div class="row toolbar-student-parent">
      <div class="col-xs-6">
        <div class="search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="form-control" id="search" type="text" placeholder="ค้นหา" onchange="search()" onkeyup="this.onchange()">
        </div>
      </div>
      <div class="col-xs-6 select-filter">  
        <span>เลือกระดับชั้น</span>
        <select name="grade_select" id="grade_select" class="btn-grades selectpicker" onchange="filter()">
          <option value='all'>ทั้งหมด</option>
          <% Grade.all.each do |grade| %>
          <option value="<%= grade.name %>"<%= @filter_grade.to_s == grade.name.to_s ? "selected" : "" %>> <%= grade.name %> </option>
          <% end %>
        </select>
        
        <span>เลือกตามห้อง</span>
        <select name="class_select" id="class_select"  onchange="filter()" class="btn-grades selectpicker">
          <option value='all'>ทั้งหมด</option>
          <% @classroom_display.each do |classroom| %>
          <option value="<%= classroom %>"<%= @filter_class.to_s == classroom.to_s ? "selected" : "" %>> <%= classroom %> </option>
          <% end %>
        </select>
      </div>
    </div>

    <table id="table"
    data-toggle="table"
    data-pagination="true"
    data-pagination-loop="false"
    data-url="parents.json"
    data-side-pagination="server"
    data-sort-name="parents.full_name"
    data-sort-order="desc"
    data-query-params="queryParams"  >
      <thead>
        <tr>
          <th data-field="parents.full_name" data-sortable="true" style="width: 300px;" >ชื่อ-สกุล</th>
          <th data-field="mobile" data-sortable="true">โทรศัพท์</th>
          <th data-field="email" data-sortable="true">อีเมล์</th>
          <th data-field="relationships.name" data-sortable="true">ความสัมพันธ์</th>
          <th data-field="students.full_name" data-sortable="true">ชื่อ-สกุลนักเรียน</th>
          <th data-field="edit" ></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<table id="tableForExport"
  data-toggle="table"
  data-side-pagination="server"
  data-tableexport-display="always"
  style="display: none;">     
  <thead>
    <tr>
      <th data-field="parents.full_name" style="width: 300px;" >ชื่อ-สกุล</th>
      <th data-field="mobile" >โทรศัพท์</th>
      <th data-field="email" >อีเมล์</th>
      <th data-field="relationships.name" >ความสัมพันธ์</th>
      <th data-field="students.full_name" >ชื่อ-สกุลนักเรียน</th>
    </tr>
  </thead>
</table>