<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
        <%= render 'layouts/mailer_stylesheet' %>
  </head>
  <body>
   <div class="tab-content content-wall">
    สวัสดีค่ะ
    เนื่องจากนัดหมาย <%=type%> ของ 
    <%=ชื่อ%> ได้ถูกแก้ไขเป็น <%=วันที่%> <%=เวลา%> <%=location%>
    จึงขอให้เตรียมพร้อมสำหรับเวลานัดหมายดังกล่าวด้วย
    ขอบคุณค่ะ
    HR @BananaCoding

    </div>
  </body>
</html>
