<%= @user.full_name %> ยื่นคำขอลากิจ ซึ่งมีวันลาคงเหลือ <%= @user.leave_remaining %>/<%= @user.maximum_leave %> ในวันที่  <%= @vacation.start_date %> ถึงวันที่ <%= @vacation.end_date %>
<br/><br/>
ด้วยเหตุผล
<br/>
<%= @vacation.detail %>
<br/><br/>
ท่านสามารถอนุมัติหรือยกเลิก ได้ด้วยการกด <a href="<%= @approve_url %>">Approve</a> หรือ <a href="<%= @reject_url %>">Reject</a>
<br/>
หรือ ดูรายละเอียดเต็มที่ <a href="<%= @dashboard_url %>">Admin Dashboard</a>
