<%= @user.full_name %> ยื่นคำขอทำงานที่บ้าน ชึ่งเคยยื่นคำขอแล้ว <%= @user.vacations.work_at_home.this_year.count %> วัน ในวันที่  <%= @vacation.start_date %> ถึงวันที่ <%= @vacation.end_date %>
<br/><br/>
ด้วยเหตุผล
<br/>
<%= @vacation.detail %>
<br/><br/>
ท่านสามารถอนุมัติหรือยกเลิก ได้ด้วยการกด <a href="<%= @approve_url %>">Approve</a> <a href="<%= @reject_url %>">Reject</a>
<br/>
หรือ ดูรายละเอียดเต็มที่ <a href="<%= @dashboard_url %>">Admin Dashboard</a>
