คำขอโดย: <%= @vacation.user.full_name %>
<br/><br/>
ผลคำขอ<%= @vacation.vacation_type.name %>: <%= I18n.t(@vacation.status) %>
<br/><br/>
เหตุผล: <%= @vacation.detail %>
<br/><br/>
อนุมัติโดย: <%= @vacation.approver.full_name %>
<br/><br/>
ท่านสามารถอนุมัติหรือยกเลิก ได้ด้วยการกด <a href="<%= @approve_url %>">Approve</a> <a href="<%= @reject_url %>">Reject</a>
<br/>
ดูรายละเอียดเต็มที่ <a href="<%= @dashboard_url %>">Admin Dashboard</a>
