<%= javascript_include_tag 'preview_image' %>

<%= form_for @parent, :html => { :class => "form-horizontal parent" } do |f| %>
<% if @parent.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @parent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<script src="https://kit.fontawesome.com/1ffa964d13.js"></script>


<div class="content-student-parent" style="padding:15px">

  <!-- Profile Img/ From / Btn -->
  <div class="row">
  
    <!-- Profile Img -->
    <div class="col-md-2"style="padding-left:20px">
      <div class="col-md-12">
        {{ 'picture' | translate }}
      </div>
      <div class="col-md-12">
        <% if @parent.img_url.blank? %>
        <label for="imageUpload" class="img-default">
          <i class="fa fa-file-upload icons-default-img2" aria-hidden="true"></i>
          <div class="img-bg bg-light-gray"></div>
        </label>
        <% else %>
        <label for="imageUpload" class="img-default">
          <%= image_tag(@parent.img_url.expiring_url , id:'img-change') if @parent.img_url.exists? %>
        </label>
        <% end %>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.file_field :img_url, class: 'border-none pointer-cursor', id: 'imageUpload', style:'display:none;', onchange:'readURL(this);' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        {{ 'resumetranscriptPDF' | translate }}
      </div>
      <div class="col-md-12">
        <% if @parent.img_url.blank? %>
        <label for="imageUpload" class="img-default">
          <i class="fa fa-file-upload icons-default-img2" aria-hidden="true"></i>
          <div class="img-bg bg-light-gray"></div>
        </label>
        <% else %>
        <label for="imageUpload" class="img-default">
          <%= image_tag(@parent.img_url.expiring_url , id:'img-change') if @parent.img_url.exists? %>
        </label>
        <% end %>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.file_field :img_url, class: 'border-none pointer-cursor', id: 'imageUpload', style:'display:none;', onchange:'readURL(this);' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- From info -->
    <div class="col-md-5">

      <!-- Name/NickName -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :nameE, :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :full_name, :class => 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :nicknameE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <!-- Email/Mobile -->
      <div class="row">
        <div class="col-md-8">
            <div class="form-group">
              <%= f.label :email,  :class => 'control-label' %>
              <div class="col-md-12">
                <%= f.text_field :email, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :mobileE, :class => 'control-label col-6' %>
              <div class="col-md-12">
                <%= f.text_field :mobile, :class => 'form-control' %>
              </div>
            </div>
          </div>
      </div>

      <!-- From/Year -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :schoolE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :grade_idE, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="studentYear" ng-model="employee.datas.employee.employee_type">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <!-- Current Ability/Learn Ability/Attention Ability -->
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :CurrentAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="currentability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :LearnAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="learnability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :AttentionAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="attentionability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>

      </div>

      <!-- Interest -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :Interest,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Btn -->
    <div class="col-md-5">
      <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:right">
        <button type="button" class ="btn btn-submit2"><i class="fas fa-file-import"></i>&nbsp;{{ 'createE' | translate }}</button><br><br>
        <button type="button" class ="btn btn-cancel2"><i class="fas fa-trash-alt"></i>&nbsp;{{ 'cancelE' | translate }}</button>
      </div>
    </div>

  </div>

  <!-- Skill / Note -->
  <div class="row" style="padding-top:35px" >

    <!-- Skill -->
    <div class="col-md-7">
      <div class="row"style="margin:0px">

        <!--ProgramSkill -->
        <div class="col-md-6">
          <div class="form-group" style="padding-left:20px;margin:0px">
            <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              <%= f.label :NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

        <!--ProgramSkill -->
        <div class="col-md-6" style="padding-right:0px;">
          <div class="form-group" style="margin:0px">
            <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              <%= f.label :NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="row" style="padding-top:25px;border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              <%= f.label :NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

  
      </div>
    </div>

    <!-- Note -->
    <div class="col-md-5">
      <div class="form-group"style="margin:0px">
        <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;;margin:0px">
          <%= f.label :NoteE,  :class => 'control-label' %>
        </div>
        <div class="row" style="padding-top:25px;margin:0px">
          <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  
    <div class="col-md-4">
      <% if @parent.img_url.blank? %>
        <label for="imageUpload" class="img-default">
            <i class="fa fa-file-upload icons-default-img2" aria-hidden="true"></i>
            <div class="img-bg bg-light-gray"></div>
        </label>
      <% else %>
        <label for="imageUpload" class="img-default">
          <%= image_tag(@parent.img_url.expiring_url(10, :medium), :class => 'circle', id:'img-change') if @parent.img_url.exists? %>
        </label>
      <% end %>
      <div class="space20"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.file_field :img_url, class: 'border-none pointer-cursor', id: 'imageUpload', style:'display:none;', onchange:'readURL(this);' %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nameE, :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :full_name, :class => 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nicknameE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :mobileE, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <%= f.text_field :mobile, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :schoolE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :grade_idE, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>



    


    <label for="student" class="control-label"><%= t('student') %></label>
    <div class="col-md-12">
      <% if @parent.new_record? || @parent.students.size == 0 %>
        <% 1.times do |index| %>
          <%= render :partial => 'add_student', :locals => {:index => index, :ps => nil} %>
          <% @round = index %>
        <% end %>
      <% else %>
        <% @parent.students.each_with_index do |ps, index| %>
          <%= render :partial => 'add_student', :locals => {:index => index, :ps => ps} %>
          <% @round = index %>
        <% end %>
      <% end %>

      <div id="add-student"></div>
      <a id="student-link" class="btn-add-st"><%= t('new_student') %></a>
    </div>
 </div>
 <div class="row">
   <div class="col-md-12">
      <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:center">
       <%= f.submit t('save'), :class => 'btn btn-submit' %>
       <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                   "", onclick: "goToUrl('#{parents_path}')", :class => 'btn btn-cancel' %>
      </div>
   </div>
 </div>
</div>

<% end %>
-->
<script>
function remove_student(i) {
    $('#add-std-'+i+'').remove();
}

function studentChange(target){
  var index = $(target).attr("index")
  // enable relationship
  if($(target).val()){
    $("#relationship" + index).prop("disabled", false)
  }else{
    $("#relationship" + index).prop("disabled", true)
  }
}

function gen_selectize(round) {
  for (i = 0; i <= round; i++) {
    $('#student'+i).selectize({
      create: true,
      sortField: 'text'
    });
  }
}

  $(function() {
    var round = <%= @round %>;
    gen_selectize(round);

    $('#student-link').click( function() {
      round = round + 1;
      $('#add-student').append(
        '<div class="form-group" id="add-std-'+round+'">\
          <div class="row">\
            <div class="col-md-5" style="margin-left:15px;">\
              <select id="student'+round+'" name="student[]" index="'+round+'" placeholder="<%=t('select_students')%>" onchange="studentChange(this)">\
                <option value="" disabled selected></option>\
                <% @students.each do |s| %>\
                  <option value="<%= s.id %>"><%= s.full_name_with_title %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-5">\
              <select id="relationship'+round+'" name="relationship[]" class="form-control" disabled="true">\
                <% @relations.each do |r| %>\
                  <option value="<%= r.id %>"><%= t(r.name) %></option>\
                <% end %>\
              </select>\
            </div>\
            <div class="col-md-1">\
              <button type="button" class="btn btn-delete-sp" onclick="remove_student('+round+')"><i class="fa fa-times"></i></button>\
            </div>\
          </div>\
        </div>'
      );
      gen_selectize(round);
    });
  });
</script>
