<div class="container-fluid blue-bg"style="margin-left:0px;">
  <div class="row head-sp justify-content-between">
     <h3><i class="fas fa-arrow-left employee-view-icon.active"></i> &nbsp; Create Scout Information</h3>
  </div>
  <%= javascript_include_tag 'preview_image' %>

<script src="https://kit.fontawesome.com/1ffa964d13.js"></script>


<div class="content-student-parent" style="padding:15px">

  <!-- Profile Img/ From / Btn -->
  <div class="row">
  
    <!-- Profile Img -->
    <div class="col-md-2"style="padding-left:20px">
      <div class="col-md-12">
        {{ 'picture' | translate }}
      </div>

      <div class="col-md-12">
        <div class="img-profile cursor-pointer" ngf-select="employee.uploadPhoto($file)">
                <div ng-switch on="employee.datas.img_url.length > 0">
                  <div ng-switch-when="true">
                    <div class="img-bg " style="background: url('{{ employee.datas.img_url }}')"></div>
                  </div>
                  <div ng-switch-default>
                    <i class="fa fa-file-upload icons-default-img2 center font-size-icon font-white" aria-hidden="true"></i>
                    <div class="img-bg bg-light-gray"></div>
                  </div>
                </div>
              </div>
      </div>
    </div>

    <!-- From info -->
    <div class="col-md-5">

      <!-- Name/NickName -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            {{ 'nameE, :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :full_name, :class => 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            {{ 'nicknameE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :nickname, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <!-- Email/Mobile -->
      <div class="row">
        <div class="col-md-8">
            <div class="form-group">
              {{ 'email,  :class => 'control-label' %>
              <div class="col-md-12">
                <%= f.text_field :email, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{ 'mobileE, :class => 'control-label col-6' %>
              <div class="col-md-12">
                <%= f.text_field :mobile, :class => 'form-control' %>
              </div>
            </div>
          </div>
      </div>

      <!-- From/Year -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            {{ 'schoolE,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            {{ 'grade_idE, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="studentYear" ng-model="employee.datas.employee.employee_type">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <!-- Current Ability/Learn Ability/Attention Ability -->
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            {{ 'CurrentAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="currentability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            {{ 'LearnAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="learnability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            {{ 'AttentionAbility, :class => 'control-label col-6' %>
            <div class="col-md-12">
              <select class="form-control somsri-select" id="attentionability" ng-model="employee.datas.employee.employee_type">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>

              </select>
            </div>
          </div>
        </div>

      </div>

      <!-- Interest -->
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            {{ 'Interest,  :class => 'control-label' %>
            <div class="col-md-12">
              <%= f.text_field :school, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Btn -->
    <div class="col-md-5">
      <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:right">
        <button type="button" class ="btn btn-submit2"><i class="fas fa-file-import"></i>&nbsp;{{ 'createE' | translate }}</button><br><br>
        <button type="button" class ="btn btn-cancel2"><i class="fas fa-trash-alt"></i>&nbsp;{{ 'cancelE' | translate }}</button>
      </div>
    </div>

  </div>

  <!-- Skill / Note -->
  <div class="row" style="padding-top:35px" >

    <!-- Skill -->
    <div class="col-md-7">
      <div class="row"style="margin:0px">

        <!--ProgramSkill -->
        <div class="col-md-6">
          <div class="form-group" style="padding-left:20px;margin:0px">
            <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              {{ 'NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

        <!--ProgramSkill -->
        <div class="col-md-6" style="padding-right:0px;">
          <div class="form-group" style="margin:0px">
            <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              {{ 'NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="row" style="padding-top:25px;border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
              {{ 'NoteE,  :class => 'control-label' %>
            </div>
            <div class="row" style="padding-top:25px;margin:0px">
              <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

  
      </div>
    </div>

    <!-- Note -->
    <div class="col-md-5">
      <div class="form-group"style="margin:0px">
        <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;;margin:0px">
          {{ 'NoteE,  :class => 'control-label' %>
        </div>
        <div class="row" style="padding-top:25px;margin:0px">
          <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
</div>