<div class="<%= is_topbar ? 'menu-dropdown' : '' %>">
  <div class="<%= is_topbar ? 'col-xs-12' : '' %>">
      <% if can? :manage, Payroll %>
        <div class=" <%= is_topbar ? 'col-xs-4' : 'col-xs-4' %>  col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> payrolls">
                <a href="/somsri_payroll">
                  <div class="wraptocenter">
                    <%= image_tag 'payroll-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.payroll', :default => t("payroll")) ) %>
        </div>
      <% end %>
      <% if can? :manage, Invoice %>
        <div class=" <%= is_topbar ? 'col-xs-4' : 'col-xs-4' %> col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> invoices">
                <a href="/somsri_invoice">
                  <div class="wraptocenter">
                    <%= image_tag 'fee-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.invoices', :default => t("invoices")) ) %>
        </div>
      <% end %>
      <% if (SiteConfig.get_cache.enable_rollcall) && (can? :manage, RollCall) %>
        <div class=" <%= is_topbar ? 'col-xs-4' : 'col-xs-4' %> col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> rollcalls">
                <a href="/somsri_rollcall">
                  <div class="wraptocenter">
                    <%= image_tag 'roll-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.rollcall', :default => t("rollcall")) ) %>
        </div>
      <% end %>

      <% if (SiteConfig.get_cache.enable_rollcall) && (can? :manage, RollCall) %>
        <div class="between-height"></div>
      <% end %>

      <% if can? :manage, Employee %>
        <div class=" <%= is_topbar ? 'col-xs-4' : 'col-xs-4' %> col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> employees">
                <a href="/somsri_payroll#/employees">
                  <div class="wraptocenter">
                    <%= image_tag 'hr-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.employee', :default => t("employee")) ) %>
        </div>
      <% end %>

      <% if !(SiteConfig.get_cache.enable_rollcall) && (can? :manage, RollCall) %>
        <div class="between-height"></div>
      <% end %>

      <% if can? :manage, Parent %>
        <div class="<%= is_topbar ? 'col-xs-4' : 'col-xs-4' %> col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> parents">
                <a href="/parents">
                  <div class="wraptocenter">
                      <%= image_tag 'parent.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.parent', :default => t("parent")) ) %>
        </div>
      <% end %>
      <% if can? :manage, Student %>
        <div class="<%= is_topbar ? 'col-xs-4' : 'col-xs-4' %> col-centered">
            <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> students">
                <a href="/students">
                  <div class="wraptocenter">
                      <%= image_tag 'child.png', class: (is_topbar ? 'img-menu-nav' : '') %>
                  </div>
                </a>
            </div>
            <%= content_tag(:p, t('.student', :default => t("student")) ) %>
        </div>
      <% end %>
  </div>
</div>
