<div class="<%= is_topbar ? 'menu-dropdown' : '' %>">
  <div class="<%= is_topbar ? 'col-xs-12' : '' %>">
    <% if current_user.admin? || current_user.human_resource? %>
      <% if can? :manage, Payroll %>
        <div class="col-xs-4 col-centered menu-icon">
          <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> payrolls">
            <a href="/somsri_payroll">
              <div class="wraptocenter">
                <%= image_tag 'payroll-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
              </div>
            </a>
          </div>
          <%= content_tag(:p, t('.payroll', :default => t("payroll")) ) %>
        </div>
      <% end %>
    <% end %>
    <% if (current_user.admin? || current_user.finance_officer?) && (can? :manage, Invoice) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> invoices">
          <a href="/somsri_invoice">
            <div class="wraptocenter">
              <%= image_tag 'fee-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.invoices', :default => t("invoices")) ) %>
      </div>
    <% end %>
    <% if (SiteConfig.get_cache.enable_rollcall) && (can? :manage, RollCall) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> rollcalls">
          <a href="/somsri_rollcall">
            <div class="wraptocenter">
              <%= image_tag 'roll-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.rollcall', :default => t("rollcall")) ) %>
      </div>
    <% end %>
    <div class="col-xs-4 col-centered menu-icon">
      <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> employees">
        <% if (current_user.admin? || current_user.human_resource?) && (can? :manage, Employee) %>
          <a href="/somsri_payroll#/employees" >
            <div class="wraptocenter">
              <%= image_tag 'hr-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        <% else %>
          <a href="/somsri_payroll#/employees<%= current_user.employee? ? "/#{current_user.id}" : '' %>" >
            <div class="wraptocenter">
              <%= image_tag 'hr-icon.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        <% end %>
      </div>
      <%= content_tag(:p, t('.employee', :default => t("employee")) ) %>
    </div>
    <% if (current_user.teacher? || current_user.admin?) && (can? :manage, Parent) %>
      <div class="col-xs-4 col-centered  menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> parents">
          <a href="/parents">
            <div class="wraptocenter">
              <%= image_tag 'parent.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.parent', :default => t("parent")) ) %>
      </div>
    <% end %>
    <% if (current_user.teacher? || current_user.admin?) && (can? :manage, Student) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %>">
          <a href="/students">
            <div class="wraptocenter">
              <%= image_tag 'child.png', class: (is_topbar ? 'img-menu-nav' : '') %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.student', :default => t("student")) ) %>
      </div>
    <% end %>
    <% if (current_user.teacher? || current_user.admin?) && (can? :manage, Alumni) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> alumni">
          <a href="/somsri_invoice#/alumni">
            <div class="wraptocenter">
              <%= image_tag 'alumni.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 80 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.alumni', :default => t("alumni")) ) %>
      </div>
    <% end %>
    <% if (current_user.procurement_officer? || current_user.admin?) && (can? :manage, Inventory) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> inventory">
          <a href="/somsri#/inventory">
            <div class="wraptocenter">
              <%= image_tag 'inventory.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 80 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.inventory', :default => t("inventory")) ) %>
      </div>
    <% end %>
    <% if (SiteConfig.get_cache.enable_expenses) && ((current_user.finance_officer? || current_user.admin?) && (can? :manage, Expense)) %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> alumni">
          <a href="/somsri#/expenses">
            <div class="wraptocenter">
              <%= image_tag 'icon_expenses.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 70 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.expense', :default => t("expense")) ) %>
      </div>
    <% end %>
    <% if SiteConfig.get_cache.enable_quotation && can?(:manage, Quotation)%>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %> quotation">
          <a href="/somsri_invoice#/quotation">
            <div class="wraptocenter">
              <%= image_tag 'quotation-icon.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 70 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.quotation', :default => t("quotation")) ) %>
      </div>
    <% end %>
    <% if can? :manage, Vacation %>
      <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %>">
          <a href="/somsri#/vacation">
            <div class="wraptocenter">
              <%= image_tag 'vacation-icon.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 80 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.vacation', :default => t("vacation")) ) %>
      </div>
    <% end %>
    <div class="col-xs-4 col-centered menu-icon">
        <div class="<%= is_topbar ? 'dropdown-menu-btn' : 'menu-btn' %>">
          <a href="/scouts">
            <div class="wraptocenter">
              <%= image_tag 'scout.png', class: (is_topbar ? 'img-menu-nav' : ''), width: is_topbar ? 50 : 80 %>
            </div>
          </a>
        </div>
        <%= content_tag(:p, t('.scout', :default => t("scout")) ) %>
      </div>
  </div>
</div>
