<div class="menu-dropdown">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
              <a href="/somsri_payroll">
                <div class="wraptocenter">
                  <%= image_tag 'payroll-icon.png', class: "img-menu-nav" %>
                </div>
              </a>
            </div>
            <p>เงินเดือน</p>
        </div>
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
              <a href="/somsri_invoice">
                <div class="wraptocenter">
                  <%= image_tag 'fee-icon.png', class: "img-menu-nav" %>
                </div>
              </a>
            </div>
            <p>ค่าเทอม</p>
        </div>
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
                <div class="wraptocenter">
                  <a href="/somsri_rollcall"><%= image_tag 'roll-icon.png', class: "img-menu-nav" %></a>
                </div>
            </div>
            <p>นับแถว</p>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
              <a href="/somsri_payroll#/employees">
                <div class="wraptocenter">
                  <%= image_tag 'hr-icon.png', class: "img-menu-nav" %>
                </div>
              </a>
            </div>
            <p>บุคลากร</p>
        </div>
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
              <a href="/parents">
                <div class="wraptocenter">
                    <%= image_tag 'parent.png', class: "img-menu-nav" %>
                </div>
              </a>
            </div>
            <p>ผู้ปกครอง</p>
        </div>
        <div class="col-xs-4">
            <div class="dropdown-menu-btn">
              <a href="/students">
                <div class="wraptocenter">
                    <%= image_tag 'child.png', class: "img-menu-nav" %>
                </div>
              </a>
            </div>
            <p>นักเรียน</p>
        </div>
    </div>
  </div>
</div>
