<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="logo text-center">
          <a class="navbar-brand" href="/"><%= image_tag 'somsri_logo.png', class: "" %></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a id="menu" class="dropdown-toggle text-navbar-left" data-toggle="dropdown" href="">
            <span ng-show="menu" ng-bind="menu"></span>
            <span ng-hide="menu"><%= @menu %></span>
            <span class="fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu nav-menu">
            <%= render 'layouts/menu', is_topbar: true %>
          </ul>
        </li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown" role="menu" aria-labelledby="dLabel">
          <% if user_signed_in? %>
            <a class="nav-user avatar" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name.blank? ? current_user.email : current_user.name %>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu on-nav-bar" aria-labelledby="navbarDropdownMenuLink">
              <% if (SiteConfig.get_cache.enable_rollcall) && (Figaro.env.ROLLCALL_APK_URL) %>
                <li><a class="dropdown-item" href="<%= Figaro.env.ROLLCALL_APK_URL %>" target="_blank">
                <i class="fa fa-download"></i> <%= t("roll_download")%> </a></li>
                <li class="divider"></li>
              <% end %>

              <li class="dropdown-submenu">
                <a tabindex="-1"><i class="fas fa-comments"></i> <%= t("switch_language")%></a>
                <ul class="dropdown-menu">
                  <li><a onclick="localeTH()"><img src="/switch_language/flag-thailand.png" alt="flag-thailand">&nbsp;&nbsp; ภาษาไทย</a></li>
                  <li class="divider"></li>
                  <li><a onclick="localeEN()"><img src="/switch_language/flag-united-kingdom.png" alt="flag-thailand">&nbsp;&nbsp; English</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><a class="dropdown-item" href="/main#/profile"><i class="fa fa-user" aria-hidden="true"></i></i> <%= t("profile")%></a></li>
              <li class="divider"></li>
              <% if current_user.admin? || current_user.finance_officer? %>
                <li><a class="dropdown-item" href="/main#/setting"><i class="fa fa-cog"></i> <%= t("settings")%></a></li>
                <li class="divider"></li>
              <% end %>
              <li><a class="dropdown-item" href="<%= destroy_user_session_path %>" rel="nofollow" data-method="DELETE">
                <i class="fas fa-sign-out-alt color-red"></i> <%= t("sign_out")%></a></li>
            </div>
          
          <% else %>

            <li class="divider"></li>
            <li><a class="nav-link" href="/"><i class="fa fa-sign-in"></i> <%= t("log_in")%></a></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
<script>
  function localeTH() {
    location = "/language?locale=th&weburl="+location.href;
  }
  function localeEN() {
    location = "/language?locale=en&weburl="+location.href;
  }
</script> 
